@use '../../../../themes/styles.scss' as *;

:host {
  font-family: $ff-body;
  font-size: rem($text-sm);
  border: none;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: rem($ls-wider);
  text-transform: uppercase;
}

:host(.btn-primary) {
  background: $txt;
  color: $bg;
  padding: rem(14, 32);
  transition: background 0.15s;
  text-align: center;
}

:host(.btn-primary):hover {
  background: #333;
}

:host(.btn-ghost) {
  background: none;
  color: $txt-2;
  display: flex;
  align-items: center;
  gap: rem(8);
  transition: color 0.15s;
}

:host(.btn-ghost):hover {
  color: $txt;
}

:host(.btn-ghost)::after {
  font-size: rem($text-md);
}

:host(.btn-secondary) {
  background: none;
  border: 0.5px solid $border;
  cursor: pointer;
  font-family: $ff-body;
  font-size: rem($text-sm);
  font-weight: 400;
  letter-spacing: rem($ls-wider);
  text-transform: uppercase;
  color: $txt-2;
  padding: rem(16, 32);
  transition: all 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
}

:host(.btn-secondary):hover {
  border-color: $txt;
  color: $txt;
}

:host(.btn-underline) {
  background: none;
  border: none;
  cursor: pointer;
  font-family: $ff-body;
  font-size: rem($text-xs);
  color: $txt-3;
  letter-spacing: rem($ls-wide);
  text-decoration: underline;
  padding: 0;
  margin-top: rem(6);
  text-align: left;
}
:host(.btn-underline):hover {
  color: $txt;
}
