@use '../../../themes/styles.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
