<div class="gallery">
  <div class="thumbnails">
    @for (image of images(); track image.id) {
      <div class="thumb" [class.active]="currentBg()?.id === image.id">
        <div
          class="thumb-bg"
          [style]="{
            'background-image': 'url(' + image.url + ')',
          }"
        ></div>
      </div>
    }
  </div>
  <div class="main-img">
    <div
      class="main-bg"
      [style]="{
        'background-image': 'url(' + currentBg()?.url + ')',
      }"
    ></div>
    @if (images().length > 1) {
      <div class="img-nav">
        <button (click)="onPreviousImage()">←</button>
        <button (click)="onNextImage()">→</button>
      </div>
    }
  </div>
</div>
