<div class="statusbar" id="statusbar-el">
  <div class="sb-item">
    <div class="sb-dot sb-dot__success"></div>
    json-server rodando
  </div>
  <div class="sb-divider"></div>
  <div class="sb-item"><i name="branch" style="font-size: 13px"></i>feat/task-service</div>
  <div class="sb-divider"></div>
  <div class="sb-item">
    <i name="check" style="font-size: 13px"></i>Angular v17 · Signals
  </div>
  <div style="margin-left: auto" class="sb-item">
    <i name="clock" style="font-size: 13px"></i>Atualizado agora
  </div>
</div>
