<div class="related">
  <h2 class="related-title">Você também pode <em>gostar</em></h2>
  <div class="related-grid">
    @for (item of data(); track $index) {
      <a [routerLink]="['/product/details', item.id]" (click)="onClickRelatedProduct()">
        <div class="rel-card">
          <div class="rel-img">
            <div
              class="rel-img-bg"
              [style]="{
                'background-image': 'url(' + item.images[0]?.url + ')',
              }"
            ></div>
          </div>
          <p class="rel-brand">{{ item.brand }}</p>
          <p class="rel-name">{{ item.name }}</p>
          <p class="rel-price">{{ item.price | currency: 'BRL' }}</p>
        </div>
      </a>
    }
  </div>
</div>
