<div class="form-section" [formGroup]="contactForm()">
  <h2 class="section-title">Informações de <em>contato</em></h2>
  <div class="form-grid">
    <div class="field">
      @let firstNameControl = contactForm().get('firstName');
      <label class="label" for="firstName">Nome <span class="req">*</span></label>
      <input
        class="input"
        [class.error]="firstNameControl?.invalid && firstNameControl?.touched"
        formControlName="firstName"
        type="text"
        placeholder="Seu nome"
      />
      @if (firstNameControl?.invalid && firstNameControl?.touched) {
        <span class="error-msg">⚠ Nome obrigatório</span>
      }
    </div>
    <div class="field">
      @let lastNameControl = contactForm().get('lastName');
      <label class="label" for="lastName">Sobrenome <span class="req">*</span></label>
      <input
        class="input"
        [class.error]="lastNameControl?.invalid && lastNameControl?.touched"
        formControlName="lastName"
        type="text"
        placeholder="Seu sobrenome"
      />
      @if (lastNameControl?.invalid && lastNameControl?.touched) {
        <span class="error-msg">⚠ Sobrenome obrigatório</span>
      }
    </div>
    <div class="field">
      @let emailControl = contactForm().get('email');
      <label class="label" for="email">E-mail <span class="req">*</span></label>
      <input
        class="input"
        [class.error]="emailControl?.invalid && emailControl?.touched"
        formControlName="email"
        type="email"
        placeholder="seu@email.com"
      />
      @if (emailControl?.invalid && emailControl?.touched) {
        <span class="error-msg">⚠ E-mail inválido</span>
      }
    </div>
    <div class="field">
      @let phoneControl = contactForm().get('phone');
      <label class="label" for="phone">Telefone <span class="req">*</span></label>
      <input
        class="input"
        [class.error]="phoneControl?.invalid && phoneControl?.touched"
        formControlName="phone"
        appPhoneMask
        type="tel"
        placeholder="(00)00000-0000"
        maxlength="14"
      />
      @if (phoneControl?.invalid && phoneControl?.touched) {
        <span class="error-msg">⚠ Telefone inválido</span>
      }
    </div>
  </div>
</div>
