<section class="section">
  <app-section-header title="Comprar por" emphasys="categoria" [link]="['/product/all']" />
  <div class="categories">
    @for (cat of data().categories; track $index) {
      <a
        [routerLink]="['/product/all']"
        [queryParams]="{
          category: cat.slug,
        }"
      >
        <div class="cat-card">
          <div
            class="cat-bg"
            [style]="{
              'background-image': 'url(' + cat.img + ')',
            }"
          ></div>
          <div class="cat-label">
            <span class="cat-name">{{ cat.name }}</span
            ><span class="cat-count">{{ cat.count }} peças</span>
          </div>
        </div>
      </a>
    }
  </div>
</section>
