<section class="section">
  <app-section-header [title]="sectionTitle" link="#">
    <ng-template #sectionTitle> Comprar por <em>categoria</em> </ng-template>
  </app-section-header>
  <div class="categories">
    <div class="cat-card">
      <div
        class="cat-bg"
        style="background: linear-gradient(160deg, #c8bfb5, #a89f95); height: 100%"
      ></div>
      <div class="cat-label">
        <span class="cat-name">Vestidos</span><span class="cat-count">48 peças</span>
      </div>
    </div>
    <div class="cat-card">
      <div
        class="cat-bg"
        style="background: linear-gradient(160deg, #b8b0a8, #989088); height: 100%"
      ></div>
      <div class="cat-label">
        <span class="cat-name">Blazers</span><span class="cat-count">24 peças</span>
      </div>
    </div>
    <div class="cat-card">
      <div
        class="cat-bg"
        style="background: linear-gradient(160deg, #d4cfc8, #b4afa8); height: 100%"
      ></div>
      <div class="cat-label">
        <span class="cat-name">Calças</span><span class="cat-count">36 peças</span>
      </div>
    </div>
    <div class="cat-card">
      <div
        class="cat-bg"
        style="background: linear-gradient(160deg, #c0b8b0, #a0988f); height: 100%"
      ></div>
      <div class="cat-label">
        <span class="cat-name">Acessórios</span><span class="cat-count">62 peças</span>
      </div>
    </div>
  </div>
</section>
