@use '../../../../../themes/styles.scss' as *;

:host {
  display: flex;
  align-items: center;
  gap: toRem(6);
  border-radius: $radius;
  font-size: toRem(13);
  font-weight: 500;
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: opacity 0.12s;
}

:host:hover {
  opacity: 0.88;
}

:host(.btn-ghost) {
  background: transparent;
  color: $txt-2;
  border: 0.5px solid $border100;
}

:host(.btn-primary) {
  background: $accent600;
  color: #fff;
}

:host(.btn-danger) {
  background: $danger;
  color: #fff;
}

:host(.base) {
  padding: toRem(7, 14);
}

:host(.sm) {
  padding: toRem(3.5, 7);
}
