<div class="statusbar" id="statusbar-el">
  <div class="sb-item">
    <div class="sb-dot sb-dot__success"></div>
    json-server rodando
  </div>
  <div class="sb-divider"></div>
  <div class="sb-item"><i class="icon__success" name="branch"></i>feat/task-service</div>
  <div class="sb-divider"></div>
  <div class="sb-item"><i class="icon__success" name="check"></i>Angular v17 · Signals</div>
  <div class="sb-item sb-item--right">
    <i class="icon__success" name="clock"></i>Atualizado agora
  </div>
</div>
