@use '../themes//styles.scss' as *;

.app-container {
  background: $bg;
  display: grid;
  grid-template-columns: max-content 1fr;
  border-radius: 12px;
  overflow: hidden;
  height: 100vh;
  border: 0.5px solid $border100;

  @media (max-width: $bp-tablet) {
    grid-template-columns: 1fr;
    border-radius: 0;
    border: none;
  }
}

.main-content {
  display: grid;
  grid-template-rows: 0fr 1fr 4.5vh;
  overflow-y: scroll;
  background: $bg;

  @media (max-width: $bp-tablet) {
    grid-template-rows: 0fr 1fr;
  }
}

.sidebar-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
}
