<header class="topbar" id="topbar-el">
  <span class="topbar-title">{{ getTitle() }} · {{ selectedProject()?.name }}</span>
  @if (currentRoute() === '') {
    <div class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input placeholder="Buscar tarefas…" />
    </div>
    <button ghost><i name="filter" style="font-size: 14px"></i>Filtrar</button>
  }
  <button primary (click)="openNewTaskForm()">
    <i name="add" style="font-size: 14px"></i>Nova tarefa
  </button>
  <app-avatar />
</header>
