@use 'fonts' as *;
@use 'utils' as *;
@use 'tokens' as *;
@forward 'utils';
@forward 'tokens';

:root {
  font-size: $font-root + px;
  --border: #e5e7eb;
  --border-2: #d1d5db;
  --radius: 8px;
  --radius-lg: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
a,
p,
button {
  font-family: 'Inter', sans-serif;
}

.bg {
  &-accent {
    background-color: $accent600;
  }

  &-warning {
    background-color: $warning;
  }

  &-success {
    background-color: $success;
  }
  &-danger {
    background-color: $danger;
  }

  &-txt3 {
    background-color: $txt-3;
  }
}
