@use 'fonts' as *;
@use 'utils' as *;
@forward 'utils';
@forward 'tokens';

:root {
  font-size: $font-root + px;
  // superfícies
  // estruturais
  --border: #e5e7eb;
  --border-2: #d1d5db;
  --radius: 8px;
  --radius-lg: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
