<main class="checkout-layout">
  <app-checkout-stepper>
    <!-- ENDEREÇO -->
    <cdk-step>
      <app-address-step />
    </cdk-step>

    <hr class="section-divider" />

    <!-- CONTATO -->
    <cdk-step>
      <app-contact-step />
    </cdk-step>
    <hr class="section-divider" />

    <!-- PAGAMENTO -->
    <cdk-step>
      <app-payment-step />
    </cdk-step>

    <!-- SUBMIT -->

    <!-- FORM -->
    <cdk-step label="Confirmação">
      <app-order-confirmation />
    </cdk-step>

    <!-- ORDER SUMMARY -->
  </app-checkout-stepper>
  <app-order-summary />
</main>
