<header class="header">
  @if (currentRoute() !== '/cart/checkout') {
    <nav class="header__nav">
      <a [routerLink]="['/product/all']">Coleções</a>
      <a
        [routerLink]="['/product/all']"
        [queryParams]="{
          new: true,
        }"
        >Novidades</a
      >
      <a
        [routerLink]="['/product/all']"
        [queryParams]="{
          sale: true,
        }"
        >Sale</a
      >
    </nav>

    <div class="header__logo"><a [routerLink]="['/']">Maison</a></div>
    <div class="header__actions">
      <button (click)="toggleDrawer()" class="header__cart-btn">
        Sacola
        @if (totalItems$ | async; as items) {
          <span class="header__cart-badge">{{ items }}</span>
        }
      </button>
    </div>
  } @else {
    <div class="header__logo"><a [routerLink]="['/']"> Maison</a></div>
    <div class="header-secure">🔒 Compra segura</div>
  }
</header>
