<header class="header">
  @if (currentRoute() !== '/checkout') {
    <nav class="header__nav">
      <a [routerLink]="['/product/all']">Coleções</a>
      <a
        [routerLink]="['/product/all']"
        [queryParams]="{
          new: true,
        }"
        >Novidades</a
      >
      <a
        [routerLink]="['/product/all']"
        [queryParams]="{
          sale: true,
        }"
        >Sale</a
      >
    </nav>
    <div class="header__logo">Maison</div>
    <div class="header__actions">
      <button>Buscar</button>
      <button>Conta</button>
      <button (click)="toggleDrawer()" class="header__cart-btn">
        Sacola
        @if (totalItems$ | async; as items) {
          <span class="header__cart-badge">{{ items }}</span>
        }
      </button>
    </div>
  } @else {
    <button class="header-back">← Voltar</button>
    <div class="header__logo">Maison</div>
    <div class="header-secure">🔒 Compra segura</div>
  }
</header>
